<form method="post" action="{{ path('app_student_delete', {'id': student.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button style="margin-left:76px; color:white;line-height: 35px;
    display: inline-block;
    margin-left: 168px;
    transform: translateY(-25px);
    text-decoration: none;
    width: 85px;
    height: 37px;
    background-color:red ;
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;";class="btn btn-success">Delete</button>
</form>
