{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="height:40px; width:40px; background-color:pink;color:red;" class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
